.footer-wrapper {
	width                                                                    : 100%;
	height                                                                   : auto;
	background-color                                                         : $dark-gray-color;
	.footer-container {
		width                                                                : 100%;
		height                                                               : auto;
		max-width                                                            : 1280px;
		padding                                                              : 0 40px;
		margin                                                               : 0 auto;
		@media only screen and (max-width: 520px) {
			padding                                                          : 0 20px;
		}
		.upper_footer-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			padding                                                          : 30px 0 15px 0;
			border-bottom                                                    : 1px solid $white-color;
			.upper_footer-container {
				flex-direction                                               : row;
				width                                                        : 100%;
				height                                                       : auto;
				.info-block {
					width                                                    : 100%;
					height                                                   : auto;
					margin                                                   : 0 0 20px 0;
					.info-title {
						font-size                                            : 14px;
						font-weight                                          : 700;
						color                                                : $white-color;
						margin                                               : 0 0 14px 0;
					}
					.info-group {
						width                                                : 100%;
						height                                               : auto;
						.info-item {
							width                                            : 100%;
							height                                           : auto;
							.info-link {
								display                                      : inline-block;
								font-size                                    : 12px;
								font-weight                                  : 300;
								color                                        : $white-color;
							}
							&:not(:last-child) {
								margin                                       : 0 0 8px 0;
							}
						}
					}
				}
				.partners-block {
					width                                                    : 100%;
					height                                                   : auto;
					.partners-group {
						width                                                : 100%;
						height                                               : auto;
						text-align                                           : right;
						.partners-item {
							display                                          : inline-block;
							width                                            : auto;
							height                                           : auto;
							.partners-image {
								width                                        : auto;
								height                                       : 28px;
							}
							&:not(:last-child) {
								margin                                       : 0 12px 0 0;
							}
						}
					}
				}
			}
		}
		.lower_footer-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			padding                                                          : 15px 0;
			.lower_footer-container {
				display                                                      : table;
				width                                                        : 100%;
				height                                                       : auto;
				.logo-block {
					display                                                  : table-cell;
					vertical-align                                           : middle;
					width                                                    : auto;
					height                                                   : auto;
					padding                                                  : 0 30px 0 0;
					.logo-image {
						display                                              : block;
						width                                                : 100px;
						height                                               : auto;
					}
				}
				.links-block {
					display                                                  : table-cell;
					vertical-align                                           : middle;
					width                                                    : 100%;
					height                                                   : auto;
					.link-wrapper {
						display                                              : inline-block;
						.link {
							font-size                                        : 12px;
							color                                            : $white-color;
						}
						&:not(:last-child) {
							.link {
								&::after {
									content                                  : '|';
									margin                                   : 0 8px;
								}
							}
						}
					}
				}
			}
		}
	}
}