.header-wrapper {
	width                                                                    : 100%;
	height                                                                   : auto;
	.header-container {
		display                                                              : flex;
		width                                                                : 100%;
		height                                                               : auto;
		max-width                                                            : 1280px;
		padding                                                              : 15px 40px;
		margin                                                               : 0 auto;
		@media only screen and (max-width: 520px) {
			padding                                                          : 15px 20px;
		}
		.logo-wrapper {
			width                                                            : auto;
			height                                                           : 40px;
			margin                                                           : 0 20px 0 0;
			float                                                            : left;
			.logo-container {
				width                                                        : 162px;
				height                                                       : 40px;
				cursor                                                       : pointer;
			}
		}
		.navigation-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			float                                                            : left;
			.navigation-container {
				width                                                        : 100%;
				height                                                       : auto;
				.navigation-items {
					width                                                    : 100%;
					height                                                   : auto;
					text-align                                               : right;
					.navigation-item {
						display                                              : inline-block;
						width                                                : auto;
						height                                               : auto;
						.button {
							width                                            : auto;
							height                                           : 40px;
							padding                                          : 10px 20px;
							line-height                                      : 20px;
							font-size                                        : 16px;
							font-weight                                      : normal;
							color                                            : $white-color;
							background-color                                 : $main-color;
							transition                                       : all ease-in-out .2s;
							&.minimal {
								padding                                      : 10px 0;
								color                                        : $black-color;
								background-color                             : $white-color;
								&.active {
									color                                    : $main-color;
								}
							}
						}
						&:not(:last-child) {
							margin                                           : 0 30px 0 0;
						}
					}
				}
			}
		}
	}
}