.activations-wrapper {
	width                                                                    : 100%;
	height                                                                   : auto;
	margin                                                                   : 0 auto;
	.activations-container {
		width                                                                : 100%;
		height                                                               : auto;
		.top-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			margin                                                           : 0 auto;
			background-image                                                 : url('./../assets/images/activations-background.svg');
			background-repeat                                                : no-repeat;
			background-size                                                  : cover;
			background-position                                              : right center;
			.top-container {
				display                                                      : flex;
				flex-direction                                               : column;
				justify-content                                              : flex-end;
				width                                                        : 100%;
				height                                                       : 280px;
				max-width                                                    : 1280px;
				padding                                                      : 60px 40px;
				margin                                                       : 0 auto;
				@media only screen and (max-width: 520px) {
					padding                                                  : 40px 20px;
				}
				.title {
					margin                                                   : 0 0 20px 0;
					font-size                                                : 42px;
					font-weight                                              : 700;
					text-align                                               : left;
					color                                                    : $white-color;
				}
				.description {
					margin                                                   : 0;
					font-size                                                : 16px;
					font-weight                                              : 300;
					text-align                                               : left;
					color                                                    : $white-color;
				}
			}
		}
		.bottom-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			margin                                                           : 0 auto;
			.bottom-container {
				width                                                        : 100%;
				height                                                       : auto;
				max-width                                                    : 1280px;
				padding                                                      : 40px;
				margin                                                       : 0 auto;
				@media only screen and (max-width: 520px) {
					padding                                                  : 40px 20px;
				}
				.section-wrapper {

				}
			}
		}
	}
}