.entry-wrapper {
	width                                                                    : 100%;
	height                                                                   : auto;
	.entry-container {
		width                                                                : 100%;
		height                                                               : auto;
		.highlight-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			margin                                                           : 0 auto;
			background-image                                                 : url('./../assets/images/background.jpg');
			background-repeat                                                : no-repeat;
			background-size                                                  : cover;
			background-position                                              : center;
			.highlight-container {
				width                                                        : 100%;
				height                                                       : auto;
				max-width                                                    : 1280px;
				padding                                                      : 80px 40px;
				margin                                                       : 0 auto;
				@media only screen and (max-width: 520px) {
					padding                                                  : 40px 20px;
				}
				.hightlight-pane {
					position                                                 : relative;
					display                                                  : flex;
					flex-direction                                           : column;
					width                                                    : auto;
					height                                                   : 100%;
					max-width                                                : 460px;
					padding                                                  : 40px;
					background-color                                         : rgba(255, 255, 255, 0.6);
					.title {
						flex                                                 : 2;
						margin                                               : 0 0 80px 0;
						font-size                                            : 42px;
						font-weight                                          : 500;
						text-align                                           : left;
						color                                                : $main-color;
					}
					.subtitle {
						margin                                               : 0 0 20px 0;
						font-size                                            : 48px;
						font-weight                                          : 700;
						text-align                                           : left;
						color                                                : $black-color;
						span {
							font-size                                        : 38px;
							font-weight                                      : 500;
						}
					}
					.description {
						margin                                               : 0 0 30px 0;
						font-size                                            : 18px;
						font-weight                                          : 500;
						text-align                                           : left;
						color                                                : $black-color;
					}
					.button-wrapper {
						display                                              : flex;
						width                                                : 100%;
						height                                               : auto;
						.button {
							width                                            : 150px;
							height                                           : auto;
							padding                                          : 10px 20px;
							font-size                                        : 16px;
							font-weight                                      : 700;
							text-align                                       : center;
							border                                           : 1px solid $main-color;
							color                                            : $main-color;
							background-color                                 : transparent;
						}
					}
					.mega-image {
						position                                             : absolute;
						bottom                                               : 40px;
						right                                                : 40px;
						width                                                : 98px;
						height                                               : 44px;
						background-image                                     : url('../assets/images/mega.png');
   						background-size                                      : contain;
					}
				}
			}
		}
		.ambit-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			margin                                                           : 0 auto;
			.ambit-container {
				display                                                      : flex;
				width                                                        : 100%;
				height                                                       : auto;
				max-width                                                    : 920px;
				padding                                                      : 40px;
				margin                                                       : 0 auto;
				@media only screen and (max-width: 520px) {
					padding                                                  : 40px 20px;
				}
				.ambit {
					display                                                  : flex;
					flex                                                     : 1;
					flex-direction                                           : column;
					justify-content                                          : space-between;
					width                                                    : auto;
					height                                                   : auto;
					padding                                                  : 60px 40px;
					.title {
						margin                                               : 0 0 20px 0;
						font-size                                            : 26px;
						font-weight                                          : 600;
						text-align                                           : center;
						color                                                : $white-color;
					}
					.description {
						margin                                               : 0 0 20px 0;
						font-size                                            : 16px;
						text-align                                           : center;
						line-height                                          : 22px;
						color                                                : $white-color;
					}
					.button-wrapper {
						display                                              : flex;
						align-self                                           : flex-end;
						width                                                : 100%;
						height                                               : auto;
						.button {
							width                                            : 150px;
							height                                           : auto;
							padding                                          : 10px 20px;
							font-size                                        : 16px;
							font-weight                                      : 700;
							text-align                                       : center;
							background-color                                 : $white-color;
							&.secondary {
								border                                       : 1px solid $white-color;
								color                                        : $white-color;
								background-color                             : transparent;
							}
							&:not(:last-child) {
								margin                                       : 0 20px 0 0;
							}
						}
					}
					&.activation {
						background-color                                     : $main-color;
						.button-wrapper {
							justify-content                                  : space-between;
							.button {
								color                                        : $main-color;
								&.secondary {
									color                                    : $white-color;
								}
							}
						}
					}
					&.support {
						background-color                                     : $purple-color;
						.button-wrapper {
							justify-content                                  : center;
							.button {
								color                                        : $purple-color;
							}
						}
					}
					&.fill {
						width                                                : 100%;
					}
					&:not(:last-child) {
						margin                                               : 0 40px 0 0;
					}
				}
			}
		}
	}
}