.main-wrapper {
	width                                                                    : 100%;
	height                                                                   : auto;
	.main-container {
		width                                                                : 100%;
		height                                                               : auto;
	}
}