.offers-wrapper {
	width                                                                    : 100%;
	height                                                                   : auto;
	margin                                                                   : 0 auto;
	.offers-container {
		width                                                                : 100%;
		height                                                               : auto;
		.top-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			margin                                                           : 0 auto;
			background-image                                                 : url('./../assets/images/offers-background.svg');
			background-repeat                                                : no-repeat;
			background-size                                                  : cover;
			background-position                                              : right center;
			.top-container {
				display                                                      : flex;
				flex-direction                                               : column;
				justify-content                                              : flex-end;
				width                                                        : 100%;
				height                                                       : 360px;
				max-width                                                    : 1280px;
				padding                                                      : 60px 40px;
				margin                                                       : 0 auto;
				@media only screen and (max-width: 520px) {
					padding                                                  : 40px 20px;
				}
				.title {
					margin                                                   : 0 0 20px 0;
					font-size                                                : 42px;
					font-weight                                              : 700;
					text-align                                               : left;
					color                                                    : $white-color;
					span {
						font-size                                            : 32px;
						font-weight                                          : 500;
					}
				}
				.description {
					margin                                                   : 0 0 40px 0;
					font-size                                                : 16px;
					font-weight                                              : 300;
					text-align                                               : left;
					color                                                    : $white-color;
				}
				.button-group {
					display                                                  : flex;
					flex-direction                                           : row;
					width                                                    : 100%;
					height                                                   : auto;
					.button-wrapper {
						width                                                : auto;
						height                                               : auto;
						.button {
							display                                          : block; 
							width                                            : 150px;
							height                                           : auto;
							padding                                          : 10px 20px;
							font-size                                        : 16px;
							font-weight                                      : 700;
							text-align                                       : center;
							border                                           : 1px solid $white-color;
							color                                            : $white-color;
							background-color                                 : transparent;
							cursor                                           : pointer;
						}
						&:not(:last-child) {
							margin                                           : 0 20px 0 0;
						}
					}
				}
			}
		}
		.bottom-wrapper {
			width                                                            : 100%;
			height                                                           : auto;
			margin                                                           : 0 auto;
			.bottom-container {
				width                                                        : 100%;
				height                                                       : auto;
				max-width                                                    : 1280px;
				padding                                                      : 40px;
				margin                                                       : 0 auto;
				@media only screen and (max-width: 520px) {
					padding                                                  : 40px 20px;
				}
				.section-wrapper {

				}
			}
		}
	}
}