//UTILS
@import './utils/normalize/normalize';
@import './utils/reset/reset';
@import './utils/variables';
@import './utils/fonts';
@import './utils/colors';

//CONTROLLERS
@import './controllers/MainController';
@import './controllers/EntryController';
@import './controllers/ActivationsController';
@import './controllers/OffersController';

//COMPONENTS
@import './components/HeaderComponent';
@import './components/FooterComponent';

//MAIN
html {
	background-color                        : $white-color;
	body {
		width                               : 100%;
		height                              : auto;
		font-family                         : $font-nunito;
    	font-size                           : 14px;
		.content {
			width                           : 100%;
			height                          : auto;
		}
	}
}