$main-color                                      : #EB3124;
$white-color                                     : #FFFFFF;
$black-color                                     : #1E1E1E;
$gray-color                                      : #ECECEC;
$dark-gray-color                                 : #3C3C3C;
$purple-color                                    : #7A378F;
$success-color                                   : #3CB371;
$error-color                                     : #B22222;